[user]
	name = Lazar Markov
	email = <edit me>
[alias]

	logv = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	logvv = log --graph --abbrev-commit --decorate --date=relative --all
	up = !git pull --rebase --prune $@ && git submodule update --init --recursive
	st = status
    	pb = pull --rebase --prune
    	co = checkout
        prune-local-master = !git branch --merged master | grep -v 'master$' | xargs git branch -d
[push]
	default = simple
[filter "lfs"]
	smudge = git-lfs smudge %f
	required = true
	clean = git-lfs clean %f
